[submodule "rtt"]
	path = rtt
	url = https://github.com/orocos-toolchain/rtt.git
	branch = toolchain-2.9
[submodule "ocl"]
	path = ocl
	url = https://github.com/orocos-toolchain/ocl.git
	branch = toolchain-2.9
[submodule "orogen"]
	path = orogen
	url = https://github.com/orocos-toolchain/orogen.git
	branch = toolchain-2.9
[submodule "typelib"]
	path = typelib
	url = https://github.com/orocos-toolchain/typelib.git
	branch = toolchain-2.9
[submodule "utilrb"]
	path = utilrb
	url = https://github.com/orocos-toolchain/utilrb.git
	branch = toolchain-2.9
[submodule "log4cpp"]
	path = log4cpp
	url = https://github.com/orocos-toolchain/log4cpp.git
	branch = toolchain-2.9
[submodule "rtt_typelib"]
	path = rtt_typelib
	url = https://github.com/orocos-toolchain/rtt_typelib.git
	branch = toolchain-2.9
